<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Set the level for tracing NUnit itself -->
  <!-- 0=Off 1=Error 2=Warning 3=Info 4=Debug -->
  <system.diagnostics>
    <switches>
      <add name="NTrace" value="0" />
    </switches>
  </system.diagnostics>

  <startup>
    <requiredRuntime version="v4.0" />
  </startup>

  <runtime>
    <loadFromRemoteSources enabled="true" />
    <!-- We need this so test exceptions don't crash NUnit -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>

</configuration>